@import "../Style assets/Vars"

.header
  height: 7.5rem
  background: rgba(255, 255, 255, 0)
  padding: 1.875rem  8.75rem
  font-family: Segoe UI, sans-serif
  display: flex
  position: fixed
  top: 0
  width: 100%
  z-index: 1000

  //changing background color and padding of left and right side of header
  @include aspect-ratio($size3, $size6)
    background: rgba(255, 255, 255, 1)
  @include aspect-ratio($size2, $size3)
    padding: 1.875rem  6.25rem
  @include aspect-ratio($size3, $size4)
    padding: 1.875rem 4.375rem
  @include aspect-ratio($size4, $size5)
    padding: 1.875rem  3.125rem
  @include aspect-ratio($size5, $size6)
    padding: 1.875rem
  .logo
    font-size: 2.313rem
    font-weight: 900 // black
    color:  #EC3333
    width: max-content
    height: 100%
    padding: 0 0.938rem
    margin:
      right: 0.313rem
    &:hover
      text-decoration: none

  // links
  .menu
    width: 100%
    .label
      margin:
        right: 0.313rem

      .link
        display: flex
        font-size: 1.688rem
        font-weight: 600 // semibold
        color:  #EC3333
        padding: 0.625rem 0.938rem
        height: 3.625rem
        background: rgba(236, 51, 51, 0)
        border-radius: 0.625rem
        line-height: 2.4rem
      &:hover > .link
        text-decoration: underline
      &.active > .link
        text-decoration: underline
        font-weight: 700 //bold

      &:last-child
        margin:
          right: 0
          left: auto
        .link
          color: white
          align-content: flex-start

          @include aspect-ratio($size3, $size6)
            color:  white
            background: rgba(236, 51, 51, 1)

    //on smaller screen menu design is changing
    @include aspect-ratio($size4, $size6)
      position: absolute
      top: 7.5rem
      left: 0
      display: none
      &.show
        display: flex
      .label
        width: 100%
        background: white
        margin-right: 0
        padding-bottom: 0.3125rem

        border:
          left: 0.313rem white solid
          right: 0.313rem white solid
        &:hover, &.active
          border-color: #EC3333
          .link
            text-decoration: underline
        &:first-child
          border-top: 0.063rem #EC3333 solid
        &:last-child
          padding-bottom: 0.625rem

        .link
          justify-content: center
          margin: auto
          width: max-content




  // menu icon for smaller screen, initially is hidden
  .bars
    display: none !important
    all: unset
    color: #EC3333
    padding: 1rem 0.938rem
    font-size: 1.813rem
    cursor: pointer
    border-radius: 0.625rem
    background: rgba(236, 51, 51, 0)
    transition: all 0.1s

    &.show
      background: rgba(236, 51, 51, 1)
      color: white

    // show menu icon on smaller screen
    @include aspect-ratio($size4, $size6)
      display: flex !important
      margin-left: auto

  // this class is active when user scrolled down
  &.offset
    background: rgb(255, 255, 255)
    .label:last-child .link
      background: rgba(236, 51, 51, 1)



