@import "../Style assets/main"

.footer
  @include content-padding(4.375rem, 1.875rem)
  background: $red
  width: 100%
  color: $white

.links
  display: flex
  justify-content: space-between
  width: 100%
  @include aspect-ratio($size4, $size6)
    flex-wrap: wrap

.row
  display: flex
  justify-content: space-between
  flex-basis: 43%
  @include aspect-ratio($size4, $size6)
    flex-basis: 100%

.linkGroup
  border-color: red
  display: flex
  flex-direction: column
  align-items: flex-start
  margin-bottom: 4.375rem
  width: 10.625rem

.title
  text-transform: uppercase
  font-size: 1.8125rem
  font-weight: 600

.link
  all: unset
  color: $white
  font-size: 1.6875rem
  font-weight: 400
  cursor: pointer
  &:hover, &:visited, &:active, &:focus
    color: $white

.copyright
  font-size: 1.1875rem
  color: $white
  width: 100%
  a
    color: $white
    font-weight: 600
    &:hover, &:visited, &:active, &:focus
      color: $white
